<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
<div class="col-sm-12 col-sm-offset-3">
    <form name = "regForm" ng-controller="RegCtrl as regCtrl">
        <div>
            <h3>Registration Form</h3>
            <!-- Email -->
            <div class="form-group">
                <label>Email:</label>
                <div>
                    <input type="email" name="email" ng-model="regCtrl.form.email" placeholder={{regCtrl.form.email}} required>
                </div>
                <div data-ng-show="regForm.email.$invalid" >
                    <h5 class="text-warning">Invalid email format</h5>
                </div>
            </div>
            <!-- Password -->
            <div class="form-group">
                <div><label>Password:</label></div>
                <div>
                    <input type="password" name="pwd" ng-model="regCtrl.form.password" ng-minlength="8"
                           placeholder={{regCtrl.form.password}} required>
                </div>
                <div data-ng-show="regForm.pwd.$invalid" >
                    <h5 class="text-warning">Password is required at least 8 characters.</h5>
                </div>
            </div>

            <!-- Name -->
            <div class="form-group">
                <div><label>Name:</label></div>
                <div>
                    <input type="text" name="name" ng-model="regCtrl.form.name" ng-minlength="3"
                           placeholder={{regCtrl.form.name}} required>
                </div>
                <div data-ng-show="regForm.name.$invalid" >
                    <h5 class="text-warning">Name must be at least 3 characters.</h5>
                </div>
            </div>
            <!-- Gender -->
            <div class="form-group">
                <div><label>Gender:</label></div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Male" ng-model="regCtrl.form.gender">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Female" ng-model="regCtrl.form.gender">Female
                    </label>
                </div>
            </div>
            <!-- Date of Birth -->
            <div class="form-group">
                <div>
                    <label>Date of Birth:</label>
                </div>
                <div>
                    <input type="date" name="bod" ng-model="regCtrl.form.bod" placeholder={{regCtrl.form.bod}}
                           ng-change="regCtrl.bodValidation()">
                </div>
                    <div data-ng-hide="regCtrl.age >= 18">
                        <h5 class="text-warning">You age is {{regCtrl.age}}, which is below 18.</h5>
                    </div>
            </div>
            <!-- Address -->
            <div class="form-group">
                <div><label>Address:</label></div>
                <div>
                    <input type="text" name="address" ng-model="regCtrl.form.address"
                           placeholder={{regCtrl.form.address}}>
                </div>
            </div>
            <!-- Country -->
            <div class="form-group">
                <div><label>Country:</label></div>
                <div>
                    <input type="text" name="country" ng-model="regCtrl.form.country"
                           placeholder={{regCtrl.form.country}}>
                </div>
            </div>
            <!-- Contact Number -->
            <div class="form-group">
                <div>
                    <label>Contact Number:</label>
                </div>
                <div>
                    <input type="text" name="contact" ng-model="regCtrl.form.contact" placeholder={{regCtrl.form.contact}}
                           ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/">
                </div>
                <div data-ng-show="regForm.contact.$invalid">
                    <h5 class="text-warning">Less than 7 digits or invalid</h5>
                </div>
            </div>
            <!-- Bubmit -->
            <div class="form-group">
                <button type="button" class="btn-success"
                        ng-disabled="regForm.contact.$invalid || regForm.email.$invalid || regForm.name.$invalid"
                        ng-click="regCtrl.submit()">Submit</button>
                <button type="button" class="btn-success" ng-click="regCtrl.resetEntry()">Reset</button>
            </div>
        </div>
    </form>
</div>

</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="index.js"></script>
</html>